.container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
}
header{
    margin: 0 auto;
    text-align: center;
}

.thanh-ngang1{
    margin: 0 auto;
    background-color: orange;
    height: 1px;
    width: 50px;
    border-radius: 1px;
    margin-top: 10px;
}
.HCM{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin-top: -30px;
}
.content{
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 250px;
}
.HCM{
    height: 400px;
}
.HCM .rong{ 
    position: relative;
}
.footer{
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
.text{
    font-size: 150px;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    color: #f0c807;
    line-height: 4cm;
}
.rong{
    position: absolute;
    top: -490px;
    left: 20px;
}
.flower1{
    margin: 0 auto;
    width: 400px;
}
.footer1{
    width: 50px ;
    margin: 0 auto;
}
.flower{
    height: 150px;
}
/*------Task2-------- */
header{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.texthead{
    font-family: 'Just Another Hand', cursive;
    font-size: 130px;
    color: red;
    justify-content: center;
}
.group1{
    position: absolute;
    height: 150px;
    top: 155px;
    right: 10px;
}
.react{
    position: absolute;
    width: 500px;
    top: 60px;
    left: -30px;
}.content{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    top: -180px;
}
