.container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-color: #62c1c1;
    margin: 0;
}

@font-face {
    font-family: "justHand";
    src: url("./Fonts/JustAnotherHand-Regular.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff") format("woff"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mont";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montBold";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.headContent{
    font-family: 'justHand';
    font-size: 70px;
    color: #ffffff;
    line-height: 20px;
    padding-left: 10px;
}
.wave{
    position: absolute;
    width: 105px;
    top: 110px;
    left: 45px;
}
.ship{
    width: 150px;
}
.contentHead{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    left: -30px;
}
.content{
    position: relative;
    height: 440px;
}
.imgHead{
    width: 55px;
}
.textHead{
    font-family: 'justHand';
    font-size: 50px;
    color: #ffffff;
}
.textContent{
    font-family: 'mont';
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    top: 110px;
    line-height: 25px;
    padding-right:125px;
    padding-left: 10px;
}
.line{
    margin-left: 0px;
    padding: 10px  0;
}
.lineCurrency{
    margin-left: 0px;
    padding: 10px  0;
}
.textBold{
    position: absolute;
    top: 285px;
}
.bold{
    font-family: 'montBold';
    font-size: 15px;
    color: #ffffff; 
}
.textNotice{
    font-family: 'justHand';
    color: #ffffff;
    margin-left: 30px;
}
.arrow{
    position: absolute;
    width: 15px;
    bottom: 55px;
    left: -35px;
}
.contentCurency{
    position: relative;
    height: 500px;
}
.contentBank{
    position: relative;
    height: 300px;
}
.linePassport{
    margin-top: 75px;
    margin-left: 0px;
    padding: 10px  0;
}
.footer{
    display: flex;
    margin: 0;
    padding-top: 100px;
}
@media screen and (max-width: 590px) {
    .container{
        max-width: unset;
    }
    .header{
        padding-bottom: 45px;
    }
    .textHeader{
        font-size: 40px;
    }
    .ship{
        width: 120px;
    }
    .wave{
        top: 35px;
        width: 65px;
        left: 20px;
    }
    .textHead{
        font-size: 45px;
    }
    .imgHead{
        width: 45px;
    }
    .textContent{
        font-size: 13px;
        line-height: 15px;
        top: 95px;
    }
    .content{
        height: 210px;
    }
    .textBold{
        position: absolute;
        top: 210px;
        padding: 10px;
    }
    .bold{
        font-size:13px;
    }
    .linePassport{
        margin-top: 200px;
    }
    .textNotice{
        font-size: 13px;
        margin-left: 15px;
    }
    .arrow{
        width: 7px;
        bottom: 65px;
        left: -25px;
    }
    .contentCurency{
        height: 415px;
    }
    .line{
        margin-top: 120px;
    }
    .contentBank{
        height: 125px;
    }
}
@media screen and (max-width: 426px) {
    .container{
        max-width: unset;
    }
    .textHeader{
        font-size: 30px;
    }
    .ship{
        width: 80px;
    }
    .wave{
        top: 8px;
        width: 45px;
        left: 5px;
    }
    .textHead{
        font-size: 25px;
    }
    .imgHead{
        width: 30px;
    }
    .line{
        margin-top: 15px;
    }
    .textContent{
        font-size: 7px;
        line-height: 10px;
        top: 55px;
    }
    .content{
        height: 170px;
    }
    .textBold{
        position: absolute;
        top: 140px;
    }
    .bold{
        font-size:7px;
    }
    .textNotice{
        font-size: 7px;
        margin-left: 15px;
    }
    .linePassport{
        margin-top: 65px;
    }
    .arrow{
        width: 5px;
        bottom: 63px;
    }
    .contentCurency{
        height: 300px;
    }
    .contentBank{
        height: 125px;
    }
}


