.container {
    width: 100%;
    height: 100%;
    max-width: 968px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body {
    background-color: #62c1c1;
    margin: 0;
}
@font-face {
    font-family: "justHand";
    src: url("./Fonts/JustAnotherHand-Regular.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff") format("woff"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "mont";
    src: url("./Fonts/Montserrat-Light.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-Light.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-Light.woff2") format("woff2");
    font-weight: light;
    font-style: light;
}
@font-face {
    font-family: "montBold";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.headContent{
    position: relative;
    font-family: 'justHand';
    font-size: 100px;
    color: #ffffff;
    line-height: 20px;
    padding-left: 40px;
}
.wave{
    position: absolute;
    width: 195px;
    top: 185px;
    left: 160px;
}
.ship{
    position: absolute;
    width: 160px;
    right: 50px;
    top: 130px;
}
.contentHead{
    display: flex;
    align-items: center;
}
.imgHead{
    width: 100px;
}
.textHead{
    font-family: 'justHand';
    font-size: 70px;
    color: #ffffff;
    margin-left: 10px;
}
.textContent{
    font-family: 'mont';
    color: #ffffff;
    font-size: 28px;
    line-height: 45px;
    padding: 0 80px 0 40px;
    margin-top: -30px;
}
.line{
    margin: 40px;
    padding: 5px 0;
}
.bold{
    font-family: 'montBold';
    font-size: 28px;
    color: #ffffff; 
    padding-left: 40px;
}
.noticeArrow{
    display: inline;
}

.textNotice{
    display: inline-block;
    font-family: 'justHand';
    color: #ffffff;
    font-size: 37px;
}
.imgArrow {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
}
.footer{
    display: flex;
    margin: 0;
    padding-top: 100px;
}
.logoWhite{
    position: fixed;
    width: 50px;
    right: 15px;
    height: 50px;
    bottom: 15px;

}
@media screen and (max-width: 769px) {
    .header{
        padding-bottom: 50px;
    }
    .headContent{
        font-size: 80px;
        line-height: 20px;
        padding-left: 40px;
    }
    .wave{
        width: 120px;
        top: 125px;
        left: 110px;
    }
    .ship{
        width: 100px;
        right: 45px;
        top: 140px;
    }
    .imgHead{
        width: 70px;
        margin-left: 20;
    }
    .textHead{
        font-size: 55px;
        margin-left: -15px;
    }
    .textContent{
        font-size: 22px;
        line-height: 40px;
        padding: 0 60px 0 30px;
        margin-top: -30px;
    }
    .line{
        margin: 0 10px 0 30px;
        padding: 20px 0;
    }
    .bold{
        padding-left: 30px;
        font-size: 22px;
    }
    .textNotice{
        font-size: 30px;
    }
    .imgArrow {
        width: 20px;
        margin-right: 10px;
        margin-top: 15px;
    }
    .logoWhite{
        width: 30px;
        height: 30px;
    }
    
}
@media screen and (max-width:640px) {
    .headContent{
        font-size: 50px;
        line-height: 15px;
    }
    .wave{
        width: 75px;
        top: 80px;
        left: 65px;
    }
    .ship{
        width: 90px;
        right: 25px;
        top: 70px;
    }
    .imgHead{
        width: 50px;
    }
    .textHead{
        font-size: 45px;
    }
    .textContent{
        font-size: 15px;
        line-height: 30px;
    }
    .bold{
        font-size: 15px;
    }
    .textNotice{
        font-size: 20px;
    }
    .imgArrow {
        width: 15px;
        margin-right: 10px;
        margin-top: 15px;
    }
    .logoWhite{
        width: 30px;
        height: 30px;
    }
    
}
@media screen and (max-width: 426px) {
    .header{
        padding-bottom: 50px;
    }
    .headContent{
        font-size: 35px;
        line-height: 20px;
        padding-left: 40px;
    }
    .wave{
        width: 60px;
        top: 75px;
        left: 55px;
    }
    .ship{
        width: 70px;
        right: 0px;
        top: 55px;
    }
    .imgHead{
        width: 45px;
        margin-left: 20px;
    }
    .textHead{
        font-size: 35px;
    }
    .textContent{
        font-size: 10px;
        line-height: 25px;
        padding: 0 30px 0 20px;
        margin-top: -30px;
    }
    .line{
        margin: 0 10px 0 30px;
        padding: 5px 0;
    }
    .bold{
        padding-left: 20px;
        font-size: 11px;
    }
    .textNotice{
        font-size: 14px;
    }
    .imgArrow {
        width: 10px;
        margin-right: 10px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .logoWhite{
        width: 15px;
        height: 15px;
    }
}

