.container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "just-hand";
    src: url("./Fonts/JustAnotherHand-Regular.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff") format("woff"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mont";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textHead {
    font-family: 'just-hand';
    font-size: 100px;
    color: #e64e59;
    padding-left: 20px;
}

.line {
    position: absolute;
    width: 375px;
    top: 30px;
    left: -10px;
}

.flag {
    width: 150px;
}

.textContent {
    font-family: 'mont';
    font-size: 35px;
    color: #45403d;
    padding-left: 20px;
    line-height: 65px;
}

.moutain {
    display: flex;
    margin: 0;
    padding-top: 60px;
}

@media screen and (max-width:645px) {
    .textHead {
        font-size: 60px;
    }

    .line {
        width: 220px;
        top: 16px;
    }

    .flag {
        width: 80px;
    }

    .textContent {
        font-size: 19px;
        line-height: 45px;
    }
}

@media screen and (max-width:425px) {
    .textHead {
        font-size: 40px;
    }

    .line {
        width: 135px;
        top: 10px;
    }

    .flag {
        width: 60px;
    }

    .textContent {
        font-size: 14px;
        line-height: 30px;
    }

    .moutain {
        padding-top: 40px;
    }
}