.container {
    width: 100%;
    height: 100%;
    max-width: 968px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@font-face {
    font-family: "just-hand";
    src: url("./Fonts/JustAnotherHand-Regular.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff") format("woff"),
        url("./Fonts/AnyConv.com__JustAnotherHand-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "mont";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff") format("woff"),
        url("./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
.textHead{
    padding-top: 150px;
    text-align: center;
    font-family: 'mont';
    font-size: 25px;
    line-height: 10px;
}
.line{
    width: 70px;
    height: 1px;
    background-color: #e8a829;
    margin: 0 auto;
}
.Content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.lotus{
    padding: 0 10px;
}
.textContent{
    padding-top: 30px;
    font-family: 'just-hand';
    color: #f3c900;
    font-size: 130px;
    text-align: center;
    line-height: 115px;
}
.dragon{
    position: absolute;
    width: 100%;
    max-width: 350px;
    top: -25px;
    left: 0px;
}
.logoBlack{
    padding: 50px;
    width: 50px;
    margin: 0 auto
}
@media screen and (max-width:376px) {
    .textHead{
        font-size: 20px;
    }
    .dragon{
        left: 5px;
        width: 320px;
    }  
    .textContent{
        font-size: 120px;
        line-height: 105px;
    }
}
@media screen and (max-width:320px) {
    .textHead{
        padding-top: 50px;
        font-size: 15px;
    }
    .textContent{
        font-size: 90px;
        line-height: 80px;
        padding-top: 0;
    }
    .dragon{
        top: -45px;
        left: 10px;
        width: 250px;
    }  
    .logoBlack{
        width: 30px;
    }
}