.container {
  width: 100%;
  height: 100%;
  max-width: 968px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@font-face {
  font-family: 'just-hand';
  src: url('./Fonts/JustAnotherHand-Regular.ttf') format('truetype'),
    url('./Fonts/AnyConv.com__JustAnotherHand-Regular.woff') format('woff'),
    url('./Fonts/AnyConv.com__JustAnotherHand-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont';
  src: url('./Fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff') format('woff'),
    url('./Fonts/AnyConv.com__Montserrat-VariableFont_wght.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
}
.textHead {
  padding-top: 150px;
  text-align: center;
  font-family: 'mont';
  font-size: 25px;
  line-height: 10px;
}
.line {
  width: 70px;
  height: 1px;
  background-color: #e8a829;
  margin: 0 auto;
}
.Content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
.lotus {
  width: 100%;
}
.textContent {
  padding-top: 30px;
  font-family: 'just-hand';
  color: #f3c900;
  font-size: 130px;
  text-align: center;
  line-height: 115px;
}
.dragon {
  position: absolute;
  width: 350px;
  top: -25px;
  left: 290px;
}
.logoBlack {
  padding: 50px;
  width: 50px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .dragon {
    left: 290px;
  }
}
@media screen and (max-width: 768px) {
  .dragon {
    left: 190px;
  }
}
@media screen and (max-width: 452px) {
  .dragon {
    left: 20px;
  }
}
@media screen and (max-width: 376px) {
  .textHead {
    font-size: 20px;
  }
  .dragon {
    left: 5px;
    width: 320px;
  }
  .textContent {
    font-size: 120px;
    line-height: 105px;
  }
}
@media screen and (max-width: 376px) {
  .textHead {
    padding-top: 50px;
  }
  .Content {
    width: 300px;
  }
  .textHead {
    font-size: 15px;
    line-height: 5px;
  }
  .textContent {
    font-size: 70px;
    line-height: 60px;
  }
  .dragon {
    top: 5px;
    left: 65px;
    max-width: 190px;
  }
  .logoBlack {
    width: 25px;
  }
}
